<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
</head>

<body>
    <div>
        <a class="btn btn-primary" href="order_information">Order information</a><p>
        <a class="btn btn-primary" href="cheap_cars">Cheap Cars</a><p>
        <a class="btn btn-primary" href="sports_cars">Sports cars</a><p>
        <a class="btn btn-primary" href="trucks">Trucks</a><p>
        <a class="btn btn-primary" href="suvs">SUVs</a><p>
        <a class="btn btn-primary" href="military_vehicles">Military vehicles</a><p>
        <a class="btn btn-primary" href="retro_cars">Retro cars</a><p>
    </div>
</body>

</html>

